@include media-breakpoint-up(md) {
    .stradaverse_login_page {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
        max-width: 100%;
        display: flex;

        .stradaverse_login_container {
            .card-body {
                padding: 0px 180px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .stradaverse_login_background {
            flex-grow: 1;
            background-image: url('/bg_image');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}

@include media-breakpoint-down(md) {
    .stradaverse_login_page {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}